@import "variables";
@import '~bootstrap/scss/bootstrap';
@import '~toastr/toastr';

body{
  font-family: "Helvetica", sans-serif;
}
a {
  color:#192e58;
}
a:hover {
  text-decoration: none;
}
* {
  outline: none;
  box-shadow:none !important;
}
#app {
  overflow: hidden;
}
.timeline-date .date {
  color: #b5b5b5;
}
.timeline-date:first-child {
  margin-top: 0 !important;
}
input, textarea {
  outline: none;
  box-shadow:none !important;
  border:1px solid #ccc !important;
}
button.icon {
  width: 20px;
  height: 20px;
  opacity: .2;
  color: #f14646;
  font-size: 28px;
  line-height: 0.1;
  background-repeat: no-repeat;
}
button.icon:hover {
  opacity: 1;
  color: #f14646;
  background-color: transparent;
}
button.icon.wechat {
  background-image: url(/images/wechat.svg);
}
button.icon.website {
  background-image: url(/images/website.svg);
}
.page-item.active .page-link {
  background-color: #fede00;
  border-color: #fede00;
}
.card-body {
  min-height: 205px;
}
header, #filter {
  background-color: #eaedef;
}
header nav a.nav-link {
  padding-bottom: 0;
}
.navbar-brand {
  padding: 0.5rem 0;
}
.navbar-brand img {
  width:100px;
}
.navbar-nav li {
  padding:0 1rem;
}
.navbar-nav li>a {
  display: flex;
  align-items: center;
  height: 100%;
}
.navbar-nav li>a.active {
  border-bottom: 2px solid #fede00;
}
.hand {
  cursor: pointer;
}
#back-to-top {
  width: 50px;
  height: 50px;
  bottom: 1rem;
  right: 1rem;
  z-index: 999;
  visibility: hidden;
}
.timeline {
  background: #92badd;
  color: #fff;
  border-radius: 0;
  box-shadow: inset 0px 5px 10px -8px #333;
}
form.filled svg {
  fill: #007bff;
}
form.filled button.icon {
  opacity: 1;
}
button.loading {
  position: relative;
  color: transparent!important;
  pointer-events: none;
}
button.loading::after {
  top: 29%;
  left: 38%;
  position: absolute!important;
  -webkit-animation: spin .5s infinite linear;
  animation: spin .5s infinite linear;
  border: 2px solid #dbdbdb;
  border-radius: 290486px;
  border-right-color: transparent;
  border-top-color: transparent;
  content: "";
  display: inline-block;
  height: 1em;
  width: 1em;
}
#welcome-page a.d-block{
  color: #6c757d !important;
  font-size: 12px;
  line-height: 2;
}
.custom-file-label:after{
  content: "浏览";
}
.date-shadow {
  box-shadow: 0 2px 4px 0px #3333334f !important;
}
.job-excerpt {
  line-height: 1.4;
}
#collapseFilter .badge {font-weight: normal;}
[v-cloak] {
  display: none;
}
caption {
  caption-side: top;
}
.nav-underline .active {
  color: $primary !important;
}
.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}
.footer {
  // position: absolute;
  // bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
}
.modal-body {
  padding: 1rem 2rem;
}
.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
.z9 {z-index: 9;}
.del {
  text-decoration: line-through;
}
div.throw {
  position: absolute;
  width: fit-content;
  right:50%;
  left:50%;
  opacity: 0.3;
  will-change: transform, opacity;
}
#searchForm .position-relative {
  box-shadow: 0px 0px 1px 0px #949494;
}
#searchForm input:first-child {
  border-right:1px solid #f2f4f5 !important;
}
#searchForm button[type=submit] {
  background-color: #192e58;
  border: 1px solid #192e58;
}
@media screen and (min-width:736px) {
  .fixed-filter {
    position: fixed;
    width:15%;
  }
  .timeline-date::before {
    content: ' ';
    width: 21px;
    height: 21px;
    display: block;
    background-color: white;
    border-radius: 50%;
    border: 5px solid #ccc;
    margin-left: -27px;
    margin-right: 20px;
  }
}
@media screen and (max-width:736px) {
  .timeline-date {
    padding-left:1rem;
  }
  #searchForm {
    margin-top:1rem;
  }
  #searchForm .position-relative {
    flex:1;
  }
}
@keyframes widthGrow {
  from {width:0;}
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
