@import "variables";
@import '~bootstrap/scss/bootstrap';
@import '~toastr/toastr';

body{
  font-family: "Helvetica", sans-serif;
}
form.filled svg {
  fill: #007bff;
}
button.loading {
  position: relative;
  color: transparent!important;
  pointer-events: none;
}
button.loading::after {
  top: 29%;
  left: 38%;
  position: absolute!important;
  -webkit-animation: spin .5s infinite linear;
  animation: spin .5s infinite linear;
  border: 2px solid #dbdbdb;
  border-radius: 290486px;
  border-right-color: transparent;
  border-top-color: transparent;
  content: "";
  display: inline-block;
  height: 1em;
  width: 1em;
}
#welcome-page a.d-block{
  color: #6c757d !important;
  font-size: 12px;
  line-height: 2;
}
.custom-file-label:after{
  content: "浏览";
}
.job-excerpt {
  line-height: 1.4;
}
#collapseFilter .badge {font-weight: normal;}
[v-cloak] {
  display: none;
}
caption {
  caption-side: top;
}
.nav-underline .active {
  color: $primary !important;
}
.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}
.footer {
  // position: absolute;
  // bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
}
.modal-body {
  padding: 1rem 2rem;
}
.border-search {
  border: 1px solid #ced4da !important;
}
.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
.z9 {z-index: 9;}
.del {
  text-decoration: line-through;
}
div.throw {
  position: absolute;
  width: fit-content;
  right:50%;
  left:50%;
  opacity: 0.3;
  will-change: transform, opacity;
}
@media screen and (max-width:736px) {
  #searchForm {
    margin-top:1rem;
  }
  #searchForm .position-relative {
    flex:1;
  }
}
@keyframes widthGrow {
  from {width:0;}
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
